/* //board  css*/
.container{
    display: flex;
    flex-direction: column;
    background: #765f8c;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    height: 80vh;
    margin: auto;
    color: white;

}
.blockContainer{
    display: flex;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    background:#fcf9ef;
    padding: 20px;
    margin-bottom: 5px;
}

/* //score css */
.scoreBox{
    display: flex;
    justify-content: space-between;
}
.scoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.score_align{
    display: grid;
    grid-template-columns: 90px 90px;
    grid-gap: 7px;
    text-align: center;
}
.info{
    margin : 20px 0
}

.heading {
    font-size: 30px;
    font-weight: 700;
    background: #e6bf3d;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 90px;
}
.score_align div{
    display: flex;
    flex-direction: column;
    background:#b8ae9f;
    padding: 5px 10px;
    color: white;
    height: 38px;
}
.score{
    font-size: 20px;
    font-weight: 600;
}
.reset {
    background: #F1462C;
    height: 27px;
    font-weight: 600;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}







/* //block style */
.bgColor{
    background-color: #baad9d;
    padding: 5px;
    border-radius: 5px;
}
.block{
    height: 60px;
    width: 60px;
    background:#cdc1b4;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: white;
    padding: 5px
}


/* ///actionbtn css */
.actionBtns{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 350px;
    margin: 20px 0 0 0;
    cursor: pointer;
    font-size: 20px;
}





/* modal style */
.modalContainer{
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 100%;
    width: 100%;
  transition: opacity 0.25s ease;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.44) 0% 0% no-repeat padding-box;

}

.modal{
    background-color: white;
    width: 300px;
    padding: 25px;
    border-radius: 5px;
}

.modalYesNoContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: teal;
    font-weight: 600;
}
.modalYesNoContainer span{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .container {
        height: 100vh;
    }
   .modal{
    width: 260px;
    padding: 22px 25px;
    font-size: 15px;
   }
  }